html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-main);
	background-color: var(--page-bg);
	color: var(--text-color);
	text-wrap: balance;
}

.content{
  max-width: 1920px;
  margin: 0 auto;
}



