.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 30px 320px;
  display: flex;
  align-items: center;

  &__nav{
    margin-left: auto;
  }
  &__side-button{
    margin-left: auto;
  }
}
.logo{
  display: flex;
  align-items: center;
  column-gap: 6px;
  z-index: 500;

  &__ellipse{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: radial-gradient(95.39% 95.39% at 50.77% 4.62%, rgb(222, 168, 255) 0%, rgb(157, 106, 217) 44.51122283935547%, rgb(122, 43, 246) 100%);
    transform: rotate(-25deg);
  }
}
.nav{
  display: flex;
  align-items: center;

  &__list{
    display: flex;
    column-gap: 105px;
  }
  &__add-button{
    margin-left: 150px;
  }
  &__link{
    font-weight: 400;
    font-size: 23px; 
    line-height: 120%;
    color: #cecece;

    &:hover{
      color: white;
    }
  }
}
.side-button{
  display: none;
  width: 40px;
  height: 16px;
  position: relative;
  z-index: 500;
  cursor: pointer;

  &__line:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
  }
  &__line:nth-child(2){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: white;
    transition: all 0.5s;
  }
}
.side-button_active > .side-button__line:nth-child(1){
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 30px;
  border-radius: 2px;
  transition: all 0.5s;
}
.side-button_active > .side-button__line:nth-child(2){
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
  width: 30px;
  border-radius: 2px;
  transition: all 0.5s;
}

@include smallDesk {
  .header{
    padding: 20px 150px;
  }
  .nav__list{
    column-gap: 60px;
  }
  .nav__link{
    font-size: 20px;
  }
}
@include tablet {
  .header{
    padding: 18px 120px;
  }
  .nav{
    display: none;
  }
  .side-button{
    display: block;
  }
}
@include mobile {
  .header{
    padding: 20px 16px;
  }
  .logo{
    &__ellipse{
      width: 27px;
      height: 27px;
    }
  }
  .icon--nft{
    width: 50px;
    height: 20px;
  }
}