.icon {
	fill: transparent;
	stroke: transparent;
	width: 62px;
	height: 62px;
}
// .icon--user {
// 	stroke: rgb(26, 134, 235);
// 	transition: all 0.2s ease-in;

// 	&:hover {
// 		stroke: rgb(17, 193, 90);
// 	}
// }
